@charset "UTF-8";
.container {
  font-size: 20pt;
}
.items {
  margin: 0 auto;
  border: 1px solid black;
  display: flex;
  width: 450px;
  height: 85px;
  align-items: center;
}
.item1 {
  text-align: center;
  padding-left: 30px;
  width: 35%;
  /* border: 1px solid red; */
}
.item2 {
  /* border: 1px solid red; */
  text-align: center;
  width: 65%;
}

.item2 .text-input {
  width: 70%;
  height: 25px;
  font-size: 15pt;
  border-radius: 5px;
}

select {
  width: 150px;
  height: 50px;
  font-size: 18pt;
}

.interest {
  flex-wrap: wrap;
  font-size: 18pt;
}
.text {
  height: 120px;
}
.items textarea {
  width: 200px;
  height: 100px;
  resize: none;
}

.items textarea:focus {
  outline-color: green;
}
.button {
  width: 100%;
  text-align: center;
}
.item3 button {
  width: 300px;
  height: 60px;
  font-size: 25pt;
  background-color: black;
  color: white;
}